body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

#main-header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.title {
    margin: 0;
    font-size: 2rem;
}

.nav-menu .nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.nav-link:hover {
    text-decoration: underline;
}

#main-content {
    padding: 20px;
    text-align: center;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.main-image, .logo-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px auto;
}
.gallery-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 15px;
}
#gallery-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#main-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
